.root {
    position: relative;

  input {
    padding: 12px 40px;
    border-radius: 10px;
    opacity: 0.5;
    width: 300px;
    
    &:hover {
        cursor: pointer;
    }

  }

  svg {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 7px;
  }
}
